<div class="container-page">
  <div class="home_span-gray">
      Buscar produto, serviço ou loja
  </div>

  <div class="home_input_search">
    <input type="text" class="form-control" placeholder="Busca">
  </div>

  <hr>

  <div class="home_span-gray">
    Promoções próximas a você
  </div>

  <div class="home_list-promos">
    <div class="panel panel-default home_list-promos_panel">
      <div class="panel-body">
        <h5 class="panel-title">15% off em qualquer hambúrger</h5>
        <div class="panel-text">Posto Ipiranga Rodoviaria <span class="distancia-card-home">- a 0.5 km</span></div>
      </div>
    </div>
    <div class="panel panel-default home_list-promos_panel">
      <div class="panel-body">
        <h5 class="panel-title">15% off em qualquer hambúrger</h5>
        <div class="panel-text">Posto Ipiranga Rodoviaria <span class="distancia-card-home">- a 0.5 km</span></div>
      </div>
    </div>
    <div class="panel panel-default home_list-promos_panel">
      <div class="panel-body">
        <h5 class="panel-title">15% off em qualquer hambúrger</h5>
        <div class="panel-text">Posto Ipiranga Rodoviaria <span class="distancia-card-home">- a 0.5 km</span></div>
      </div>
    </div>
    <div class="panel panel-default home_list-promos_panel">
      <div class="panel-body">
        <h5 class="panel-title">15% off em qualquer hambúrger</h5>
        <div class="panel-text">Posto Ipiranga Rodoviaria <span class="distancia-card-home">- a 0.5 km</span></div>
      </div>
    </div>
  </div>
</div>