.d-flex {
    display: flex;
    align-items: center;
}
.carrinho_span-title {
    color: #00a2b2;
    font-size: 16px;
}
.mastercard-icon {
    width: 16px;
    height: 10px;
}
.cart-items {
    list-style: none;
    padding-left: 0;
}
.cart-items_item {
    padding: 10px 0;
    border-bottom: 1px solid rgb(223, 223, 223);
}
.cart-items .item-price {
    text-align: right;
}
.carrinho_span-total {
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
}
.carrinho_preferred-payment {
    margin: 10px 0 20px;
}
.carrinho_cancel-order {
    margin-top: 15px;
}