<div class="container-page">
    <div class="carrinho_span-title">
        Seu carrinho (4 itens)
    </div>

    <div class="carrinho_list-items">
        <div class="container">
            <ul class="cart-items">
                <li class="cart-items_item">
                    <div class="row">
                        <div class="col-xs-6 item-name">Lubrificante Lubrax</div>
                        <div class="col-xs-6 item-price">R$ 21,30</div>
                    </div>
                </li>
                <li class="cart-items_item">
                    <div class="row">
                        <div class="col-xs-6 item-name">Lavagem do tapete</div>
                        <div class="col-xs-6 item-price">R$ 15,00</div>
                    </div>
                </li>
                <li class="cart-items_item">
                    <div class="row">
                        <div class="col-xs-6 item-name">Troca óleo motor</div>
                        <div class="col-xs-6 item-price">R$ 7,00</div>
                    </div>
                </li>
                <li class="cart-items_item">
                    <div class="row">
                        <div class="col-xs-6 item-name">Óleo Lubrax</div>
                        <div class="col-xs-6 item-price">R$ 27,00</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="carrinho_span-total">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">Total</div>
                <div class="col-xs-6 text-right">R$ 70,30</div>
            </div>
        </div>
    </div>

    <div class="carrinho_preferred-payment">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">Pagamento selecionado</div>
            </div>
            <div class="row d-flex">
                <div class="col-xs-6"><img class="mastercard-icon" src="../../assets/mastercard-icon.png" alt=""> Final ****1234</div>
                <div class="col-xs-6 text-center text-primary">Selecionar outro tipo de pagamento</div>
            </div>
        </div>
    </div>

    <div class="carrinho_finish-order">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn btn-success btn-block btn-lg">Fazer pedido</div>
                </div>
            </div>
        </div>
    </div>

    <div class="carrinho_cancel-order">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="cancel-order-link text-danger">Cancelar pedido</div>
                </div>
            </div>
        </div>
    </div>
</div>