<div class="container-page">
  <div class="home_span-gray">
      Buscar produto, serviço ou loja
  </div>

  <div class="home_input_search">
    <input type="text" class="form-control" placeholder="Busca">
  </div>

  <hr>

  <div class="home_span-gray">
    Promoções próximas a você
  </div>

  <div class="home_list-promos">
    <a routerLink="/loja">
      <div *ngFor="let promo of promos" class="panel panel-default home_list-promos_panel">
        <div class="panel-body">
          <h5 class="panel-title">{{produto(promo.produto)}} por R${{promo.valor}}</h5>
          <div class="panel-text">{{empresa(promo.estabelecimento)}} <span class="distancia-card-home">- a 0.5 km</span></div>
        </div>
      </div>
    </a>
  </div>
</div>